<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erkuai.mycompose">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCompose">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyCompose">

        </activity>

        <activity
            android:name=".basewidget.BaseWidgetActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".basewidget.LayoutWidgetActivity"
            android:exported="true">


        </activity>

        <activity
            android:name=".basewidget.CustomViewActivity"
            android:exported="true">


        </activity>

        <activity
            android:name=".basewidget.AnimationActivity"
            android:exported="true">


        </activity>

        <activity
            android:name=".basewidget.StateActivity"
            android:exported="true">


        </activity>


        <activity
            android:name=".test.TestModifierActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".test.TestSideEffectActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".test.TestStateActivity2"
            android:exported="true">


        </activity>
        <activity
            android:name=".test.TestCustomViewActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".basewidget.AnimationActivity2"
            android:exported="true">


        </activity>

        <activity
            android:name=".basewidget.ModifierActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>